body{
    font-family: "Bauhaus 93";
    background-color: crimson;
background-image: url("image/creta2.jpg");
    background-attachment: scroll;
    background-size: cover;
    background-repeat: space;

    }







